## Unpacking Iterables

### Side Note on Tuples

#### This is a tuple:

In [1]:
a = (1, 2, 3)

In [2]:
type(a)

tuple

#### This is also a tuple:

In [3]:
a = 1, 2, 3

In [4]:
type(a)

tuple

#### In fact what defines a tuple is not **()**, but the **,** (comma)

#### To create a tuple with a single element:

In [5]:
a = (1)

#### will not work!!

In [6]:
type(a)

int

Instead, we have to use a comma:

In [7]:
a = (1,)

In [8]:
type(a)

tuple

In [9]:
a = tuple()
type(a)

tuple

In [10]:
print(a)

()

And in fact, we don't even need the **()**:

In [11]:
a = 1,

In [12]:
type(a)

tuple

The only exception is to create an empty tuple, here we need the () but not ,:

In [15]:
a = ()

SyntaxError: invalid syntax (<ipython-input-15-95a348146c10>, line 1)

In [16]:
type(a)

tuple

Or we can use the tuple constructor:

In [21]:
a = tuple()

In [22]:
type(a)

tuple

In [25]:
type(dict)

type

In [29]:
type([1, 2, 3, 4])

list

In [30]:
[1, 2, 3, 4][2]

3

### Unpacking

#### Unpacking is a way to split an iterable object into individual variables contained in a list or tuple:  
* Here is an example with a list

In [26]:
lst = [1, 2, 3, 4]
print(lst)

[1, 2, 3, 4]

In [27]:
a, b, c, d = lst

In [28]:
print(a, b, c, d)

1 2 3 4

Here is an example with a tuple

In [31]:
tup = (1, 2, 3, 4)
print(tup)

(1, 2, 3, 4)

In [32]:
a, b, c, d = tup

In [33]:
print(a, b, c, d)

1 2 3 4

#### Strings are iterables too:

In [34]:
a, b, c = 'XYZ'
print(a, b, c)

X Y Z

#### Swapping Two Variables

Here's a quick application of unpacking to swap the values of two variables.

First we look at the "traditional" way you would have to do it in other languages such as Java:

In [38]:
a = 10
b = 20
print(f"a={a}, b={b}")
 
#I want to end up with a = 20 and b = 10

a = b
print(f"a = {a}")

a=10, b=20
a = 20

In [39]:
a = 10
b = 20
print(f"a={a}, b={b}")

tmp = a
a = b
b = tmp
print(f"a={a}, b={b}")

a=10, b=20
a=20, b=10

But using unpacking we can simplify this:

In [40]:
a = 10
b = 20
print(f"a={a}, b={b}")

a, b = b, a
print(f"a={a}, b={b}")

a=10, b=20
a=20, b=10

In fact, we can even simplify the initial assignment of values to a and b as follows:

In [41]:
a, b = 10, 20
print(f"a={a}, b={b}")

a, b = b, a
print(f"a={a}, b={b}")

a=10, b=20
a=20, b=10

#### Unpacking Unordered Objects (dict objects)

In [42]:
dict1 = {'P': 1, 'y': 2, 't': 3, 'h': 4, 'o': 5, 'n': 6}

In [43]:
dict1

{'P': 1, 'y': 2, 't': 3, 'h': 4, 'o': 5, 'n': 6}

In [44]:
for c in dict1:
    print(c)

P
y
t
h
o
n

In [45]:
a, b, c, d, e, f = dict1
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

P
y
t
h
o
n

Note that before Python 3.7 the order is not guaranteed. Now when you iterate through a dictionary, they items are presented in the ordered that they were loaded.

With sets the order is not guaranteed.

In [46]:
s = {'P', 'y', 't', 'h', 'o', 'n'}

In [47]:
type(s)

set

In [48]:
print(s)

{'t', 'o', 'y', 'n', 'h', 'P'}

In [49]:
for char in s:
    print(char)

t
o
y
n
h
P

In [50]:
a, b, c, d, e, f = s

In [51]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

t
o
y
n
h
P

In [53]:
s = {'P', 'y', 't', 'h', 'o', 'n', 'q'}
print(s)

{'t', 'o', 'q', 'y', 'n', 'h', 'P'}

In [54]:
s = {'P', 'y', 't', 'h', 'o', 'n', 'q', 't'}
print(s)

{'t', 'o', 'q', 'y', 'n', 'h', 'P'}

In [55]:
s = {'P', 'y', 't', 'h', 'o', 'n', 'q', 'T'}
print(s)

{'t', 'o', 'q', 'y', 'n', 'h', 'P', 'T'}