## Importing Data from Lists
As you saw in the previous page, Pandas can load data directly from a web-hosted CSV file.  

There are many other ways to get data into a DataFrame that we'll explore in the following pages.  

All these examples will show how to import the height and age data into the DataFrame.

In [ ]:
import pandas as pd

### The source data is a list of tuples

In [ ]:
ages_heights = [("Age","Daniel","Anthony","Jose","Andrew","Michael","Jacob","Alyssa","Emily","Ashley","Samantha","Jessica","Jennifer"),
("2yr",80,79,86,87,86,84,83,83,79,86,83,85),
("5yr",109,114,114,110,105,113,115,114,105,109,103,107),
("10yr",144,141,141,149,144,135,126,137,136,139,144,132),
("15yr",179,172,180,166,172,168,160,161,167,158,164,168)]

In [ ]:
type(ages_heights)

In [ ]:
type(ages_heights[1])

### Create a DataFrame named ah_frame

In [ ]:
ah_frame = pd.DataFrame(ages_heights)

#### Output the first 5 rows uses the default headers

In [ ]:
ah_frame.head()

This results in a DataFrame like we expect, but   
- this DataFrame has a row of numbers abd a row of colums
    
We will fix these two problems later.