## Where we are
- This module will sound different from previous ones because it is a more direct lesson about a Python package called Pandas and will directly relate to the lab work you've been doing. So far, our labs have been looking at temperature data and organizing them using Python.  Python is a very popular language for performing these activities and Pandas is an exceptional package to assist you .  In Module 11 we'll show you how to use Pandas to organize similar data and in Lab 11 you will put Pandas into practice.

In [2]:
import pandas as pd
kids_heights = pd.read_csv("http://psme.foothill.edu/~20033409@ad.fhda.edu/cs3a/kids-height-final.csv")
kids_heights

,Age,Daniel,Anthony,Jose,Andrew,Michael,Jacob,Alyssa,Emily,Ashley,Samantha,Jessica,Jennifer
0,2yr,80,79,86,87,86,84,83,83,79,86,83,85
1,5yr,109,114,114,110,105,113,115,114,105,109,103,107
2,10yr,144,141,141,149,144,135,126,137,136,139,144,132
3,15yr,179,172,180,166,172,168,160,161,167,158,164,168

In [5]:
type(kids_heights)

pandas.core.frame.DataFrame

In [9]:
kids_heights["Daniel"]

0     80
1    109
2    144
3    179
Name: Daniel, dtype: int64

In [10]:
type(kids_heights["Daniel"])

pandas.core.series.Series