## Intrduction to Getting Data From a DataFrame

Each time we wanted to display our DataFrame we used the "head()" method.  
- This will display the first 5 rows and all the columns.    
- In our case, our data is only 5 columns so it's somewhat redundant    
- but if you have lots of data (say the Titanic data from 11.1) you'll probably want to only display as much as your screen can handle.    
- Further, what if you don't want all the columns?  What if you want data that fits a certain criteria?

## For this part of the module, we'll use a data set of nations and various statistics

In [ ]:
import pandas as pd
myDataFrame = pd.read_csv("https://psme.foothill.edu/~20033409@ad.fhda.edu/cs3a/nations.csv")

You can also use the data from the 11.2 examples if you like, but there's more data in the nations.csv file so you'll have more interesting queries to run.  I suggest trying both.

## Getting a Column or Two...

Remember from the Introduction page in this module    
- A Pandas DataFrame is a composed of Series, if you get a single column from a DataFrame, you actually get a series.   
- You get a column by putting the column name in quotes and brackets after the DataFrame variable name.

If you want multiple columns, you can pass the DataFrame a list of columns. Note: this will give you back a new DataFrame not a Series, since a Series can be only one column wide.

In [ ]:
myDataFrame["country"]  # this gives you a Series type

That's great, but notice that the years are not in order (nor are the countries because Afghanistan comes before Andorra).  To sort, add "sort_by" and sort by country and year:

In [ ]:
myDataFrame[["year","country","population"]].sort_values(["country","year"])

## Getting Data of a Certain Value

What if you want to get all the data for (Republic of) Ireland or you want to get all the values for all the countries after 2010, you can filter out data using the a conditional in brackets:

In [ ]:
myDataFrame[myDataFrame["country"] == "Ireland"].sort_values("year")
myDataFrame[myDataFrame["year"] > 2010].sort_values("country")

I'll let you test these for yourself and play around.

Limiting the Amount of Data Displayed

We've used "head()" and you can also use "tail()".  
- Those give you the first 5 and last 5 values from the DataFrame, respectively and 
- you can change the default 5 to a custom number like 20 easily: head(20) and/or tail(10)
- You can also slice the data by using a bracket just like a list.  For example, you want to get the data 5-20 or some middle values.  You can use a number separated by colons in the brackets.

In [ ]:
myDataFrame.head(10)

In [ ]:
myDataFrame.tail(20)

In [ ]:
myDataFrame[5:20]