All the examples in 11.2 for importing data have shown problems with getting row index correct, and in some cases even the column names.  We'll see how we can change either the column names or row index after the DataFrame has been created.

Taking the example from Module 11 - 2A where there is neither a proper column or row index, we can fix that performimg the following steps.

In [ ]:
import pandas as pd
ages_heights = [("Age","Daniel","Anthony","Jose","Andrew","Michael","Jacob","Alyssa","Emily","Ashley","Samantha","Jessica","Jennifer"),
("2yr",80,79,86,87,86,84,83,83,79,86,83,85),
("5yr",109,114,114,110,105,113,115,114,105,109,103,107),
("10yr",144,141,141,149,144,135,126,137,136,139,144,132),
("15yr",179,172,180,166,172,168,160,161,167,158,164,168)]

In [ ]:
type(ages_heights)
type(ages_heights[1])
ah_frame = pd.DataFrame(ages_heights)
ah_frame.head()

## Assign column names from first element of ages_heights (a tuple of strings)

In [ ]:
ah_frame.columns = ages_heights[0]
ah_frame.head()

Great, the columns are no longer numbers, but there is a duplicate row, just below the column names.

## We can easily drop that row with:

In [ ]:
ah_frame.drop(ah_frame.index[0], inplace=True)
ah_frame.head()

Ok, we're half way there, now to the index.

## We can set the index from a column itself by using the "set_index()" method:

In [ ]:
ah_frame.set_index('Age', inplace=True)
ah_frame.head()

Now this is exactly what we want.  We have columns which have names, not numbers.  We have a index for the rows which correspond to ages.

## We've gotten data into a Pandas DataFrame, now we'll look at how to get data out of a DataFrame.