Intergers   
1, 2, 3, 4 are integers, so are -1, -2, -3, -4    
they don't have decimals points

In [ ]:
2 + 4

Floats    
1.2, 2.0, 3.3, 4.999 are floats

In [ ]:
1.2 + 4.99

In [ ]:
5 + 5.1

In [ ]:
5 + 5.

Narrowing

In [ ]:
int(5.55555)

Note that 5 and 5.5 are different objects

In [ ]:
id(5.55555)

In [ ]:
id(5)

When you mix ints and floats, the result is a float. (This is referred to as widening)

In [ ]:
5.5 + 10

Assignment statements

In [ ]:
some_number = 34
print(some_number)

In [ ]:
some_number = -10              # overwrites the 34 with -10
print(some_number)

In [ ]:
some_number = some_number + 3  # adds 3 to the -10 making
                               # it -7
print(some_number)

In [ ]:
print(id(some_number))
some_number = some_number + 3  # adds 3 to the -10 making
                               # it -7
print(some_number)
print(id(some_number))

In [ ]:
some_number += 1               # special notation that adds 1 to
                               # some_number making it -6
print(some_number)

In [ ]:
some_number1 = (some_number + 1) / 2  # adds 1 to some_number, making
                                     # it -5, then divides by 2 
                                     # making it ...  
print(some_number1)

In [ ]:
some_number1 = some_number + 1 / 2 
print(some_number1)

Let do the same operations and look at what the variable some_number is referencing as at step

In [ ]:
some_number = 34
print(some_number,id(some_number), type(some_number))

In [ ]:
some_number = 10              # overwrites the 34 with a -10
print(some_number,id(some_number), type(some_number))

In [ ]:
some_number = some_number + 3  # adds 3 to the -10 making
                               # it -7
print(some_number,id(some_number), type(some_number))

In [ ]:
some_number += 1               # special notation that adds 1 to
                               # some_number making it -6
print(some_number,id(some_number), type(some_number))

In [ ]:
some_number = (some_number + 1) / 2  # adds 1 to some_number, making
                                     # it -5, then divides by 2 
                                     # making it ...  
print(some_number,id(some_number), type(some_number))

and now lets assign some_number to 34

In [ ]:
some_number = 34
print(some_number,id(some_number), type(some_number))

Integer Arithmetic

In [ ]:
answer = 14 // 3
print( "answer is", answer )

answer = 14 % 3
print( "answer is", answer )