#### Python supports the full set of relational operators

- Relational operators
 - == is equal      
 - \< is less than     
 - \> is greater than    
 - \<= is less than or equal    
 - \>= is greater than or equal    
 - \!= is not equal

In [1]:
a = 5
b = 10

In [2]:
if a < b:
    print(f"{a} is < {b}")

5 is < 10

The if suceeds if the relation operator evaluates to True

In [3]:
a < b

True

In [4]:
a > b

False

#### A quick review
- Increment and Decrement Operators and Their Cousins

In [8]:
a = 5
b = 10

In [6]:
a += 1  # this is the same as a = a + 1
print(a)

6

In [7]:
a += a
print(a)

12

In [ ]:
a = 5
b = 10

In [ ]:
a -= 1
print(a)

In [ ]:
b *= 5
print(b)

In [9]:
b /= a
print(b)

2.0

In [11]:
11/5

2.2

In [ ]:
11//5

### Compatibility and Conversion Between Two Numeric Types

#### Implicit Widening

In [12]:
x = 3
y = 1.9
answer = x / y
print ("x / y =", answer)

x / y = 1.5789473684210527

In [13]:
# this source
x = 30
y = 7
answer = 17.5 + (x / y)
print("17.5 + (x / y) =", answer)

# produces

17.5 + (x / y) = 21.785714285714285

#### Implicit Narrowing

In [ ]:
# this source
x = 30
y = 7
answer = x // y
print("x // y =", answer)

#### Narrowing and then widening

In [14]:
# this source
x = 30
y = 7
answer = 17.5 + (x // y)
print("17.5 + (x // y) =", answer)

17.5 + (x // y) = 21.5

#### Explicit Numeric Widening or Narrowing

In [17]:
answer = 17.5 + float(30 / 7)   # float() not really necessary
print("17.5 + float(30 / 7) =", answer)

17.5 + float(30 / 7) = 21.785714285714285

In [16]:
answer = 17.5 + int(30 / 7)   # int() makes a difference
print("17.5 + int(30 / 7) =", answer)

17.5 + int(30 / 7) = 21.5

#### Why do these two "programs" give different results?

In [18]:
answer = 17.5 + int(-5 / 3)
print("17.5 + int(-5 / 3) =", answer)

17.5 + int(-5 / 3) = 16.5

In [19]:
answer = 17.5 + (-5 // 3)
print("17.5 + (-5 // 3) =", answer)

17.5 + (-5 // 3) = 15.5

In [21]:
print(-5 / 3)
print(-5 // 3)

-1.6666666666666667
-2

In [ ]:
-5 // 3

#### Converting from Strings to Numbers

In [22]:
first_num = "1024"
second_num = "-3.55"

answer = int(first_num) * float(second_num)
print(answer)

-3635.2

#### Illegal and Legal Numeric string-to-Numeric Conversions

The constructors int() and float() can do a lot.  For example, they'll happily ignore leading or trailing spaces

In [25]:
third_num_float = float ("   42   ")
print(third_num_float)

42.0

But they won't tolerate illegal characters or numbers they can't understand.    
- Any of the following will produce an error

In [26]:
third_num_flt = float ("42.  6")
third_num_flt = float ("Fourty Two")
third_num_flt = float ("21.34.56")
third_num_flt = float ("x=3")

ValueError: could not convert string to float: '42.  6'