### Compatibility and Conversion Between Two Numeric Types

#### Implicit Widening

In [ ]:
x = 3
y = 1.9
answer = x / y
print ("x / y =", answer)

In [ ]:
# this source
x = 30
y = 7
answer = 17.5 + (x / y)
print("17.5 + (x / y) =", answer)

# produces

#### Implicit Narrowing

In [ ]:
# this source
x = 30
y = 7
answer = x // y
print("x // y =", answer)

#### Narrowing and then widening

In [ ]:
# this source
x = 30
y = 7
answer = 17.5 + (x // y)
print("17.5 + (x // y) =", answer)

#### Explicit Numeric Widening or Narrowing

In [ ]:
answer = 17.5 + float(30 / 7)   # float() not really necessary
print("17.5 + float(30 / 7) =", answer)

In [ ]:
answer = 17.5 + int(30 / 7)   # int() makes a difference
print("17.5 + int(30 / 7) =", answer)

#### Why do these two "programs" give different results?

In [ ]:
answer = 17.5 + int(-5 / 3)
print("17.5 + int(-5 / 3) =", answer)

In [ ]:
answer = 17.5 + (-5 // 3)
print("17.5 + (-5 // 3) =", answer)

In [ ]:
-5 / 3

In [ ]:
-5 // 3

#### Converting from Strings to Numbers

In [ ]:
first_num = "1024"
second_num = "-3.55"

answer = int(first_num) * float(second_num)
print(answer)

#### Illegal and Legal Numeric string-to-Numeric Conversions

The constructors int() and float() can do a lot.  For example, they'll happily ignore leading or trailing spaces

In [ ]:
third_num_float = float ("   42.6   ")
print(third_num_float)

But they won't tolerate illegal characters or numbers they can't understand.    
- Any of the following will produce an error

In [ ]:
third_num_flt = float ("42.  6")
third_num_flt = float ("Fourty Two")
third_num_flt = float ("21.34.56")
third_num_flt = float ("x=3")